@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@*<div class="row">
    <div class="col-md-3">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a href="/identity/Account/Login" class="nav-link">SignIn</a>
                    </li>
                    <li class="nav-item">
                        <a href="/identity/Account/Register" class="nav-link">SignUp</a>
                    </li>
                </ul>
            </div>

            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>*@

@section Scripts{
    @RenderSection("Scripts", required: false)

} 